/* utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app{
    padding: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
/* utility */

#search{
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#search:focus, #search-button:focus{
    outline: none;
}

#search-button{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 10px;
}

main{
    margin-top: 20px;
}

.container{
    border: 1px solid #000;
    padding: 20px;
    margin: 0 10px 10px 0;
}

.vote i{
    color: darkgoldenrod;
}
